.balanceTitle {
    font-size: 24px;
    font-weight: bolder;
    color: white;
    margin-top: 24px;
    border-bottom: solid;
    font-weight: lighter;
}

.totalBalance {
    font-size: 36px;
    color: white;
    font-weight: lighter;
    margin-bottom: 24px;
}

.coinBalanceTitle {
    font-size: 16px;
    margin-top: 16px;
    border-bottom: solid 1px;
    font-weight: lighter;
}

.coinTotalBalance {
    font-size: 28px;
    font-weight: lighter;
}

.usdTotalBalance {
    font-size: 28px;
    font-weight: lighter;
    margin-bottom: 24px;
}

.subCoinBalance {
    font-size: 16px;
    color: grey;
}