.recentTx {
    font-size: 14px;
    border: 1px solid rgb(236, 239, 241);
    border-radius: 12px;
    background-color: white;
    margin-top: 12px;
}

.recentTx Table {
    font-weight: lighter;
}

